.lineChartContainer {
    width: 697px;
    height: 348px;
    background: #212734;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}