.tableContainer {
    width: 1391px;
    height: 333px;
    background: #212834;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    margin-top: 50px;
}

.tabletitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1351px;
    margin: 15px auto
}

.tabletitle div:nth-of-type(1) {
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.tabletitle div:nth-of-type(2) {
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #805AD5;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    box-sizing: border-box;
    color: #ffffff

}

.charge {
    color: #34D35C;
}
.charge span {
    margin-left: 10px;
}


table tr:nth-of-type(1) {
    width: 1391px;
    height: 53px;
    background: #272E3C;
    padding: 20px 64px !important;
    box-sizing: border-box;
}

table tr:nth-of-type(1)>th{
    padding-left: 50px;
}

td {
    padding-left: 50px;
}

th {
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.tableRow {
    height: 72px;
    border-bottom: 1px solid #3B3D50;;
}


.rowName span {
    margin-left: 5px;
}
