.statsContainer {
    width: 408px;
    background: #212734;
    height: 678px;
    box-shadow: inset 0px -0.2px 1px #805AD5;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 10px
}

.statsContent {
    width: 378px;
    margin: auto;
}

.info {
    display: flex;
    width: 100%;
    padding-top: 30px;
    justify-content: space-between;
}

.text {
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.balance, .sort {
    background: #1A202C;
    border: 1px solid #2B3548;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px
}

.balance {
    width: 196px;
}

.sort {
    width: 175px;
    justify-content: space-between;
    padding: 0px 20px 0px 19px;
    box-sizing: border-box;
    height: 40px
}

.hideImg {
    padding-left: 10px
}

.input {
    width: 375px;
    height: 50px;
    background: url('../../../public/images/search.png'), linear-gradient(0deg, #1A202C, #1A202C);
    border: 1px solid #2B3548;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    /* background-image: url('../../public/images/search.png'); */
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 10% 50%;
    margin-top: 17px;
}

.input::placeholder {
    color: #FFFFFF;
    padding-left: 100px;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 300;
    font-size: 18.3478px;
    line-height: 29px;
}

.metamask {
    display: flex;
    align-items: flex-start;
    margin: 17px;

}

.metamask span {
    color: #FFFFFF;
    margin-left: 14px;
}

.binance {
    background: #1A202C;
    border-radius: 7px;
    width: 378px;
    height: 234px;
}

.binance .metamask {
    margin: 5px;
    padding-top: 8px !important
}



.metamask div {
    color: #FF0000;
    margin-left: 14px;
    font-size: 16px;
    margin-left: 37px;
}

.binance .metamask div {
    margin-left: 55px;
    color: #61E224;
}

.decrImg {
    margin-left: 15px;
}

.editImg {
    margin-left: 15px;
    margin-top: -6px;
}

.binanceContent {
    width: 351px;
    margin: auto;
}

.binanceAmount {
    display: flex;
    align-items: center;
} 

.binanceAmount div {
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
}

.binanceAmount img {
    width: 99px;
    height: 47px;
    margin-left: 65px;
}

.border {
    border: 1px solid #686868;
    width: 351px;
    margin: auto;
    margin-top: 4px;
}

.binanceBtns {
    width: 351px;
    margin: auto;
    margin-top: 18px;
}

.saving {
    margin-left: 33px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 18px;
}

.saving span {
    margin-left: 19px;
}

.future {
    width: 340px;
    height: 55px;
    background: #2B3548;
    border-radius: 7px;
    margin-left: 0;
    margin: auto;
    margin-top: 18px;
    padding-left: 30px;
    box-sizing: border-box;
}

.coinbase {
    margin-top: 40px !important;
}

.coinbase .metamask{
    margin-top: 15px !important;
}

.coinbase div{
    color: #FF0000 !important;
    margin-left: 27px !important;
}

.subscribe {
    width: 408px;
    height: 151.55px;
    background: #212734;
    box-shadow: inset 0px -0.2px 1px #805AD5;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 10px;
    position: relative;
}

.subscribe div {
    width: 335px;
    margin-left: 16px;
    padding-top: 23px;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 500;
    font-size: 16.0543px;
    line-height: 26px;
    color: #FFFFFF;
}

.subscribe div span {
    color: #E04F44;
}

.subscribe button {
    width: 338.71px;
    height: 40px;
    background: #A37DF9;
    border-radius: 10px;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
    color: #FFFFFF;
    margin-left: 16px;
    margin-top: 14px;
    border: none;
    cursor: pointer
}

.subscribe img {
    position: absolute;
    margin-left: 90%;
    margin-top: 10px;
    cursor: pointer;
}


