body {
 width: 1920px;
 height: 100%;
 background-color: #1E1E1E;
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

.mainContainer {
  display: flex
}

.mainWrapper {
  display: flex;
  width: 1391px;
  flex-wrap: wrap; 
  margin-left: 10px;
}